<a href="https://colab.research.google.com/github/debiasri/github-slideshow/blob/master/Webscrapping_in_datascience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A  basic example of web scrapping

In [ ]:
# Importing required libraries
import requests
from bs4 import BeautifulSoup as bs # defines the basic interface called by the tree builders

In [ ]:
# Importing other important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Opening the particular url using openurl function
from urllib.request import urlopen
url="https://www.dibyendudeb.com"
html=urlopen(url)

Parsing the html through beartiful soup function and creating different python objects

In [ ]:
soup=bs(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [ ]:
title=soup.title
print(soup.prettify) # printing the html content with ideal arrangement
print(title) # printing the title of the page
print(soup.find_all('h1'))

Use of find and find_all function for finding any particular html tag

In [ ]:
# Use particular html tag to find the content in the page
print(soup.find('h1'))# to find h1 header tags
print(soup.find('h2'))# to find h2 header tags
print(soup.find('a'))# to find hyperlink tags
# Use of find_all to find all of a particular html tag
print(soup.find_all('h1'))# to find h1 header tags
print(soup.find_all('h2'))# to find h2 header tags
print(soup.find_all('a'))# to find hyperlink tags

Now as you can see that the hyperlinks printed by the above piece of code, there are a number of html tags. If you are interested in only some of them, then you can use a for loop to filter only those html tags which you need

In [ ]:
all_links=soup.find_all('a') # creating a variable to store all the hyperlinks
for link in all_links:
  print (link.get("href"))

Creating a table collecting data from a table in a webpage

In [ ]:
# Lets take a webpage with a table containing data on the results of urban clash game with the url: http://www.hubertiming.com/results/2017GPTR10K
url='http://www.hubertiming.com/results/2017GPTR10K'
html= urlopen(url)
soup=bs(html,'lxml')

In [ ]:
# to print all rows in a table
records=soup.find_all('tr')
# creating list with the text
text_list=[]
for row in records:
  row_store=row.find_all('td')
  text_store=str(row_store) # creating a string object from the given object
  onlytext=bs(text_store,'lxml').get_text() # using BeautifulSoup method to collect the text as a list using  get_text() function
  text_list.append(onlytext)

In [ ]:
df=pd.DataFrame(text_list)
df.head(10)

Splitting the single column into multiple columns according to the comma separated values

In [ ]:
df1 = df[0].str.split(',', expand=True)
df1.head(10)

             0  ...                                                  9
0           []  ...                                               None
1  [Finishers:  ...                                               None
2       [Male:  ...                                               None
3     [Female:  ...                                               None
4           []  ...                                               None
5           [1  ...                                                  ]
6           [2  ...   \n\r\n                            INTEL TEAM ...
7           [3  ...                                                  ]
8           [4  ...                                                  ]
9           [5  ...   \n\r\n                            INTEL TEAM ...

[10 rows x 10 columns]

In [ ]:
# Removing the opening bracket from the column 0
df1[0] = df1[0].str.strip('[')
# Removing the closing bracket from the column 9
df1[9] = df1[9].str.strip(']')
# Removing the closing bracket from the column 0
df1[0] = df1[0].str.strip(']')
# Replacing unwanted characters with a blank at the starting of column 2
df1[2] = df1[2].str.replace('\r\n\r\n', '')
# Replacing unwanted characters with a blank at the end of column 9
df1[9] = df1[9].str.replace('\n\r\n', '')
df1[9] = df1[9].str.replace('\r\n', '')
df1.head(10)

            0      1  ...       8                                                  9
0               None  ...    None                                               None
1  Finishers:   577]  ...    None                                               None
2       Male:   414]  ...    None                                               None
3     Female:   163]  ...    None                                               None
4               None  ...    None                                               None
5           1    814  ...   36:24
6           2    573  ...   36:45                               INTEL TEAM F     ...
7           3    687  ...   37:48
8           4    623  ...   38:37
9           5    569  ...   39:24                               INTEL TEAM F     ...

[10 rows x 10 columns]

Creating another dataframe to collect the column headers

In [ ]:
# Storing the table headers in a variable
headers = soup.find_all('th')
# Using BeautifulSoup again to arrange the header tags
header_list = []# creating a list of the header values
col_headers = str(headers)
header_only = bs(col_headers, "lxml").get_text()
header_list.append(header_only)
print(header_list)

['[Place, Bib, Name, Gender, City, State, Chip Time, Chip Pace, Gun Time, Team]']

Converting the list to a pandas data frame

In [ ]:
df2 = pd.DataFrame(header_list)
df2.head()

                                                   0
0  [Place, Bib, Name, Gender, City, State, Chip T...

Now again we have to split the column into several columns to separate the values

In [ ]:
df3 = df2[0].str.split(',', expand=True)
df3.head()

        0     1      2        3  ...           6           7          8       9
0  [Place   Bib   Name   Gender  ...   Chip Time   Chip Pace   Gun Time   Team]

[1 rows x 10 columns]

Concatenating the two data frames

In [ ]:
concatenate = [df3, df1]

df4 = pd.concat(concatenate)
df4.head(10)

            0  ...                                                  9
0      [Place  ...                                              Team]
0              ...                                               None
1  Finishers:  ...                                               None
2       Male:  ...                                               None
3     Female:  ...                                               None
4              ...                                               None
5           1  ...
6           2  ...                               INTEL TEAM F     ...
7           3  ...
8           4  ...

[10 rows x 10 columns]

In [ ]:
# Assigning the first row as table header
df4=df4.rename(columns=df4.iloc[0])
df4.head(10)

       [Place  ...                                              Team]
0      [Place  ...                                              Team]
0              ...                                               None
1  Finishers:  ...                                               None
2       Male:  ...                                               None
3     Female:  ...                                               None
4              ...                                               None
5           1  ...
6           2  ...                               INTEL TEAM F     ...
7           3  ...
8           4  ...

[10 rows x 10 columns]

In [ ]:
# You can see that the table header here has got replicated as the first record in the table, so we need to correct this problem
df5 = df4.drop(df4.index[0])
df5.head()

       [Place    Bib  ...  Gun Time  Team]
1  Finishers:   577]  ...      None   None
2       Male:   414]  ...      None   None
3     Female:   163]  ...      None   None
4               None  ...      None   None
5           1    814  ...     36:24

[5 rows x 10 columns]

Now get some basic idea about the data in hand

In [ ]:
df5.info()
df5.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 581 entries, 1 to 581
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   [Place      581 non-null    object
 1    Bib        580 non-null    object
 2    Name       577 non-null    object
 3    Gender     577 non-null    object
 4    City       577 non-null    object
 5    State      577 non-null    object
 6    Chip Time  577 non-null    object
 7    Chip Pace  577 non-null    object
 8    Gun Time   577 non-null    object
 9    Team]      577 non-null    object
dtypes: object(10)
memory usage: 49.9+ KB

(581, 10)

In [ ]:
# Eliminating rows with any missing value
df5 = df5.dropna(axis=0, how='any')
df5.head()

  [Place   Bib  ...  Gun Time                                              Team]
5      1   814  ...     36:24
6      2   573  ...     36:45                               INTEL TEAM F     ...
7      3   687  ...     37:48
8      4   623  ...     38:37
9      5   569  ...     39:24                               INTEL TEAM F     ...

[5 rows x 10 columns]

In [ ]:
# Some more data refinement to make the dataset more perfect
df5.rename(columns={'[Place': 'Place'},inplace=True)
df5.rename(columns={' Team]': 'Team'},inplace=True)
print(df5.head())

  Place   Bib  ...  Gun Time                                               Team
5     1   814  ...     36:24
6     2   573  ...     36:45                               INTEL TEAM F     ...
7     3   687  ...     37:48
8     4   623  ...     38:37
9     5   569  ...     39:24                               INTEL TEAM F     ...

[5 rows x 10 columns]

In [ ]:
d5.head()

NameError: name 'd5' is not defined